<div class="booking-show-div p-2 mt-5">
  <div class="calendar">
    <div class="container m-4 p-4 position-sticky", style="background-color: white">
       <h3 class="text-center">Book this guitar</h3>
          <%= simple_form_for [@guitar, @rental],
                              html: {
                                data: {
                                  controller: 'flatpickr'
                                }
                              } do |f| %>
          <%= f.input :starting_date,
                      as: :string,
                      input_html: {
                        data: {
                        flatpickr_target: 'startDateInput',
                        }
                      } %>
          <%= f.input :end_date,
                      as: :string,
                      input_html: {
                        data: {
                        flatpickr_target: 'endDateInput'
                        }
                      } %>
          <div class="text-center">
            <%if current_user  %>
              <%= f.submit 'Book', class:'btn-guitar-main px-5' %>
            <%else%>
              <p><%= link_to 'Book', new_user_session_path, class:"btn-guitar-main px-5"%></p>
            <%end%>
          </div>
        <% end %>
      </div>
    </div>
</div>
<%# <h5>= @guitar.daily_price€ per day</h5> %>
<%#= simple_form_for [@guitar, @rental] do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
