<h1>Hello from the show of the <%= @guitar.name %></h1>

<ul>
  <li><%= @guitar.brand %></li>
  <li><%= @guitar.location %></li>
  <li><%= @guitar.category %></li>
  <li><%= @guitar.description%></li>
  <li><%= @guitar.daily_price%></li>
</ul>
