<div class="container m-2">
</div>
  <div class="main-grid">
    <div class="guitar-show-div m-5">
      <h2><%= @guitar.name %></h2>
      <p><%= @guitar.category %> - <%= @guitar.brand %> - <i class="fa-solid fa-location-dot"></i> <%= @guitar.address %></p>
      <% if @guitar.user == current_user %>
        <div class="d-flex my-3">
          <%= link_to "Edit Guitar", edit_guitar_path(@guitar), class: "btn-guitar-main  text-color-white" %>
          <%= link_to "Delete Guitar", @guitar, data: { turbo_method: :delete }, class: "btn-guitar-main  text-color-white ms-3" %>
        </div>
      <% end %>
      <% if @guitar.photo.attached? %>
        <%= cl_image_tag @guitar.photo.key, crop: :fill, style:"width: 80%" %>
      <%else %>
        <img src="https://images.unsplash.com/photo-1609702839586-e9b637bb93b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80" alt="acoustic-guitar">
      <% end %>
    </div>


    <div class="container mt-3">
      </div>
            <%= render "book", guitar: @guitar %>
      </div>

    <div class="description">
      <h4>Description</h4>
      <p><%= @guitar.description%></p>
    </div>
    </div>

  <div class="container pt-5">
      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
