
<%# <div class="container"> %>
  <h1>Hello <%= current_user.username%>, welcome to your dashboard !</h1>

  <br>
  <br>
  <br>
  <h2>Here are you guitars</h2>
  <hr>
  <% if current_user.guitars.count > 0 %>
    <%= render partial: 'pages/guitars-rentals-grid'%>

    <% else %>
      <p>Sorry, you don't have any guitars! FOR NOW!</p>
  <% end  %>

  <h2>OWNER</h2>
  <hr>

  <h2>Pending rentals</h2>
  <%= render partial: 'pages/pending-rentals-grid'%>


  <h2>Accepted rentals</h2>
  <hr>

  <%= render partial: 'pages/accepted-rentals-grid'%>



  <h2>Declined rentals</h2>
    <%= render partial: 'pages/accepted-rentals-grid'%>




  <br>
  <br><br>
  <h2>RENTER</h2>
  <hr>

  <h2>Accepted rentals</h2>
  <hr>
  <% if @renter_accepted_rentals.count > 0 %>
      <% @renter_accepted_rentals.each do |rental|%>
        <div class="card-product mb-5">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <p><%= rental.starting_date %></p>
            <p><%= rental.end_date %></p>
            <p>XXX $</p>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>You don't have accepted rentals</p>
  <% end %>


  <h2>Pending rentals</h2>
  <hr>
  <% if @renter_pending_rentals.count > 0 %>
      <% @renter_pending_rentals.each do |rental|%>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <p><%= rental.starting_date %></p>
            <p><%= rental.end_date %></p>
            <p>XXX $</p>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>You don't have pending rentals</p>
  <% end %>



  <h2>Declined rentals</h2>
  <hr>
  <% if @renter_declined_rentals.count > 0 %>
      <% @renter_declined_rentals.each do |rental|%>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <p><%= rental.starting_date %></p>
            <p><%= rental.end_date %></p>
            <p>XXX $</p>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>You don't have declined rentals</p>
  <% end %>


<%# </div> %>
