
<%# <div class="container"> %>
  <h1>Hello <%= current_user.username%>, welcome to your dashboard !</h1>

  <h2>Here are you guitars</h2>

  <% if current_user.guitars.count > 0 %>
    <%= render partial: 'pages/guitars-rentals-grid'%>

    <% else %>
      <p>Sorry, you don't have any guitars! FOR NOW!</p>
  <% end  %>

  <h2>OWNER</h2>
  <hr>

  <h2>Pending rentals</h2>
  <%= render partial: 'pages/pending-rentals-grid'%>


  <h2>Accepted rentals</h2>
  <hr>

  <%= render partial: 'pages/accepted-rentals-grid'%>


  <h2>Declined rentals</h2>
    <%= render partial: 'pages/accepted-rentals-grid'%>



  <h2>RENTER</h2>

  <h2>Accepted booking</h2>

  <% if @renter_accepted_rentals.count > 0 %>
    <%= render partial: 'pages/accepted-bookings-grid'%>
  <% else %>
    <p>You don't have accepted rentals</p>
  <% end %>


  <h2>Pending bookings</h2>
  <hr>
  <% if @renter_pending_rentals.count > 0 %>
    <%= render partial: 'pages/pending-bookings-grid'%>
  <% else %>
    <p>You don't have pending rentals</p>
  <% end %>



  <h2>Declined bookings</h2>
  <hr>
  <% if @renter_declined_rentals.count > 0 %>
    <%= render partial: 'pages/declined-bookings-grid'%>
  <% else %>
    <p>You don't have declined rentals</p>
  <% end %>


<%# </div> %>
